NODE_ENV=development

# dn stuff
POSTGRES_USER=tavrik
POSTGRES_PASSWORD=tavrik
POSTGRES_DB=tavrik
DATABASE_URL=postgres://tavrik:tavrik@localhost:5433/tavrik

# model provider
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_API_KEY=

# full prompt logging
DEBUG_LOG_FULL_PROMPTS=false

# telegram bot token
TELEGRAM_BOT_TOKEN=

# authenticated user
TELEGRAM_USER_ID=